@page "/notes"
@using System.Text.Json
@using BlazorMonaco
@using BlazorMonaco.Editor
@inject IJSRuntime JS

<h1>Juka Notes</h1>

<StandaloneCodeEditor Id="jukanotes" ConstructionOptions="EditorConstructionOptions" />

@code{

    private StandaloneCodeEditor _editor;
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        _editor = editor;
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "",
            Value = "Notes"
        };
    }

}