@page "/notes"

<h1>Juka Notes</h1>

<textarea id="jukanotes" rows="4" cols="50" style="width:100%" placeholder="Enter your notes here...">
</textarea>


@code{

    public async Task UploadCode(InputFileChangeEventArgs e)
    {
        try
        {
        }
        catch (Exception)
        {
            
        }
    }

}