<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">JukaApp</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-media-play" aria-hidden="true"></span> Run Juka
			</NavLink>
		</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Docs">
                <span class="oi oi-document" aria-hidden="true"></span> Documentation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Notes">
                <span class="oi oi-text" aria-hidden="true"></span>  Notes
            </NavLink>
        </div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="comingsoon">
				<span class="oi oi-bug" aria-hidden="true"></span> More Coming Soon
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
